torch==1.8.1+cu111 torchvision==0.9.1+cu111 -f https://download.pytorch.org/whl/torch_stable.htmlmatplotlib==3.4.2
kubernetes==10.0.1
kfp==1.4.0
boto3==1.17.74
kubeflow-katib==0.11.0
kfserving==0.4.1
pandas==1.2.4
tensorboard==2.5.0